@{
    ViewBag.Title = "About";
}
<!-- About Section -->
<div id="about">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6"> <img src="~/images/soh.jpeg" class="img-responsive" alt=""> </div>
            <div class="col-xs-12 col-md-6">
                <div class="about-text">
                    <h2>About Us</h2>
                    <p>i m sohial ahmad s/o muhammad Qayum i belong to khwaza khela at swat . i still studing at university of malakand . now a days  i so sad......  </p>
                    <h3>my hobies?</h3>
                    <div class="list-style">
                        <div class="col-lg-6 col-sm-6 col-xs-12">
                            <ul>
                                <li>driving</li>
                                <li>cricket</li>
                                <li>football</li>
                                <li>chating </li>
                            </ul>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-xs-12">
                            <ul>
                                <li>html</li>
                                <li>css</li>
                                <li>asp.Net & MVC%</li>
                                <li>Etc</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
