@{
    /**/

    ViewBag.Title = "Contact";
}
<head>
    <style>
        body{

            background-color:light;
        }
        /* contact */
        .contact-agileits-w3layouts h5 {
            color: #424242;
            font-size: 20px;
            letter-spacing: 1px;
            line-height: 1.8;
        }

        .midd-contact h6 {
            font-size: 22px;
            letter-spacing: 1px;
        }

        /*.midd-contact {
            border-left: 2px solid #d84315 !important;
        }*/

        p.para-agileits-w3layouts i {
            color: #d84315;
        }

        p.para-agileits-w3layouts a {
            color: #999;
        }

            p.para-agileits-w3layouts a:hover,
            .w3l-footer ul li a:hover,
            p.copy-right-grids a:hover {
            }

        h4.contact-title {
            letter-spacing: 1px;
        }

        .map iframe {
            outline: none;
            border: none;
            width: 100%;
            height: 400px;
            display: block;
        }

        .form-bg-w3ls input[type="text"],
        .form-bg-w3ls input[type="email"],
        .form-control,
        .form-bg-w3ls textarea {
            padding: 12px 10px;
            border-radius: 0;
            letter-spacing: 1px;
            font-size: 15px;
            outline: none;
            box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.11);
        }

        .form-bg-w3ls textarea {
            resize: none;
            height: 10em;
        }

        .form-bg-w3ls button {
            background: #2196f3;
            color: #fff;
            font-size: 15px;
            width: 100%;
            outline: none;
            letter-spacing: 1px;
            padding: 12px 0;
            border-radius: 0px;
            box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.11);
            transition: .5s ease-in;
            -webkit-transition: .5s ease-in;
            -moz-transition: .5s ease-in;
            -o-transition: .5s ease-in;
            -ms-transition: .5s ease-in;
        }

            .form-bg-w3ls button:hover {
                letter-spacing: 2px;
                transition: .5s ease-in;
                -webkit-transition: .5s ease-in;
                -moz-transition: .5s ease-in;
                -o-transition: .5s ease-in;
                -ms-transition: .5s ease-in;
            }

        /* //contact */
    </style>
</head>

<link href="~/Content/css/contact.css" rel="stylesheet" />
<!-- contact -->
@*<div class="contact py-sm-5 py-4" id="contact">
    <div class="container py-lg-3">
        <h3 class="heading mb-4">Contact Us</h3>
        <div class="row pt-lg-4">
            <div class="col-lg-5">
                <div class="w3-contact-left">
                    <h4 class="about-left-agile mb-4">Contact Information </h4>
                    <p class="mb-4">Integer pulvinar leo id viverra feugiat. Pellentesque libero justo, semper at tempus vel, ultrices insed ligula. Nulla	sollicit sed.</p>
                    <p><span class="fa fa-map-marker mr-2"></span>G.T road near Bus stand khwaza khela swat.</p>
                    <hr>
                    <p><span class="fa fa-phone mr-2"></span>  +012 898 909 2317</p>
                    <hr>
                    <p><span class="fa fa-envelope-open mr-2"></span><a href="mailto:info@example.com" class="ml-3">mail@example.com</a></p>
                </div>
            </div>
            <div class="col-lg-7 mt-lg-0 mt-5">
                <!-- register form grid -->
                <div class="register-top1">
                    <form action="#" method="post" class="register-wthree">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <input class="form-control" type="text" placeholder="Enter Your First Name" name="name" required="">
                                </div>
                                <div class="col-md-6 mt-md-0 mt-4">
                                    <input class="form-control" type="text" placeholder="Enter Your Last Name" name="name" required="">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <input class="form-control" type="text" placeholder="Enter Mobile Number" name="mobile" required="">
                                </div>
                                <div class="col-md-6 mt-md-0 mt-4">
                                    <input class="form-control" type="email" placeholder="Enter Email Id" name="email" required="">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <textarea placeholder="Enter your message here" name="message" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-aasana-w3 btn-block w-100 text-uppercase">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!--  //register form grid ends here -->
            </div>
        </div>
    </div>
</div>*@
<div class="contact-w3l py-5" id="contact">
    <div class="container py-xl-5 py-lg-3">
        <div class="title-section mb-sm-5 mb-4">
          
            <h1 style="margin-top:15px; text-decoration:underline; font-family:'Times New Roman', Times, serif">Contact Us</h1>
        </div>
        <div class="row pt-md-0">
            <div class="col-lg-6 contact-agileits-w3layouts">
                <h3 class="contact-title text-uppercase text-bl mb-sm-4 mb-3" style="margin-top:50px;">Our Address</h3>
                <br />
                <h5 class="font-weight-light text-bl">
        <pre> If you have any problem and any  
              query OR you want to contact us
              so simply use the form and put 
              your Query We try and respond  
              to all queries and comments  
               within 24 hours</pre>
                    .
                </h5>
                <div class="midd-contact my-xl-5 my-4 pl-4 border-left">
                    <h3>Address & Direction:</h3>
                    <br />
                    
                </div>
                <p class="para-agileits-w3layouts">
                    <i class="fa fa-map-marker"></i>  GT Road opposit to bus stand and close to female degree college
                    </p>
               <p class="para-agileits-w3layouts my-sm-3 my-2">
                    <i class="fa fa-phone "></i>  032 625 4592
                </p>
                <p class="para-agileits-w3layouts">
                    <i class="fa fa-envelope-open"></i> <a href="mailto:mail@example.com">info 1@example.com</a> 
                     
                </p>
            </div>
            <div class="col-lg-6 regstr-r-w3-agileits mt-lg-0 mt-5">
                <h3 class="contact-title" style="margin-top:30px;">Get in Touch</h3>
                <br />
                <div class="form-bg-w3ls">
                    <form action="#" method="post">
                        <div class="form-group">
                            <input type="text" name="Name" class="form-control" placeholder="Name" required="">
                        </div>
                        <div class="form-group">
                            <input type="email" name="Email" class="form-control" placeholder="Email" required="">
                        </div>
                        <div class="form-group">
                            <input type="text" name="Subject" class="form-control" placeholder="phone" required="">
                        </div>
                        <div class="form-group">
                            <textarea name="Message" class="form-control" placeholder="Message" required=""></textarea>
                        </div>
                        <button type="submit" class="button-w3layouts btn text-uppercase">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div  class="container">
<img class="img-responsive" src="~/images/mapkk.png" /></div>
<!-- //contact-->