
@{
                /**/

                ViewBag.Title = "Services";
                Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/contact.css" rel="stylesheet" />
<!--ur services-->
<div class="content-our" id="our">
    <h3>Our services</h3>
    <div class="container">
        <h4>
            The breadth of the Department’s mandate, and the need to address municipal service delivery issues that are both complex and changing, requires that we continue to develop as a responsive and agile organisation. In line with the public service modernisation principles, the Department has been pursuing an extensive programme of modernisation and change. This has included a range of core public service delivery mechanisms, institutional development of local government institutions, human resource capacity development and enablement of e-governance initiatives to continue providing improved services to the citizens of Khyber Pakhtunkhwa. This ongoing pursuit of the modernisation programme will be key to ensuring that we continue to develop as a flexible and responsive organisation, working with a wide range of partners and stakeholders in delivering on our mandate.

            In result of the enactment of the Khyber Pakhtunkhwa Local Government Act 2013, a three-tier local government system has come into presence
        </h4>


        <div class="clearfix">

        </div>
    </div>
</div>
