
@{
    ViewBag.Title = "Team";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/contact.css" rel="stylesheet" />
<!--//team -->
<section class="banner-w3layouts-bottom py-lg-5 py-4">
    <div class="container">
        <div class="inner-sec-wthree py-lg-5 py-4 speak">
            <h3 class="tittle text-uppercase text-center my-lg-5 my-3"><span class="sub-tittle"></span> Our Team Member</h3>
            <div class="row mt-lg-5 mt-4">
                <div class="col-md-4 team-gd text-center" data-aos="fade-right">
                    <div class="team-img mb-4">
                        <img src="~/images/team11.jpeg" class="img-fluid img-circle" alt="user-image">
                    </div>
                    <div class="team-info">
                        <h3 class="mt-md-4 mt-3"><span class="sub-tittle-team">Designer</span> Sohail Ahmad</h3>
                        <p>i m student of information technology at university of malakand (dir lower)</p>
                        <ul class="social_section_1info mt-md-4 mt-3">
                            <li class="mb-2 facebook"><a href="#"><i class="fab fa-facebook mr-1"></i>facebook</a></li>
                            <li class="mb-2 twitter"><a href="#"><i class="fab fa-twitter mr-1"></i>twitter</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 team-gd text-center" data-aos="fade-right">
                    <div class="team-img mb-4">
                        <img src="~/images/team11.jpeg" class="img-fluid img-circle" alt="user-image">
                    </div>
                    <div class="team-info">
                        <h3 class="mt-md-4 mt-3"><span class="sub-tittle-team">Designer</span> Sohail Ahmad</h3>
                        <p>i m student of information technology at university of malakand (dir lower)</p>
                        <ul class="social_section_1info mt-md-4 mt-3">
                            <li class="mb-2 facebook"><a href="#"><i class="fab fa-facebook mr-1"></i>facebook</a></li>
                            <li class="mb-2 twitter"><a href="#"><i class="fab fa-twitter mr-1"></i>twitter</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 team-gd text-center" data-aos="fade-right">
                    <div class="team-img mb-4">
                        <img src="~/images/team11.jpeg" class="img-fluid img-circle" alt="user-image">
                    </div>
                    <div class="team-info">
                        <h3 class="mt-md-4 mt-3"><span class="sub-tittle-team">Designer</span> Sohail Ahmad</h3>
                        <p>i m student of information technology at university of malakand (dir lower)</p>
                        <ul class="social_section_1info mt-md-4 mt-3">
                            <li class="mb-2 facebook"><a href="#"><i class="fab fa-facebook mr-1"></i>facebook</a></li>
                            <li class="mb-2 twitter"><a href="#"><i class="fab fa-twitter mr-1"></i>twitter</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 team-gd text-center" data-aos="fade-right">
                    <div class="team-img mb-4">
                        <img src="~/images/team11.jpeg" class="img-fluid img-circle" alt="user-image">
                    </div>
                    <div class="team-info">
                        <h3 class="mt-md-4 mt-3"><span class="sub-tittle-team">Designer</span> Sohail Ahmad</h3>
                        <p>i m student of information technology at university of malakand (dir lower)</p>
                        <ul class="social_section_1info mt-md-4 mt-3">
                            <li class="mb-2 facebook"><a href="#"><i class="fab fa-facebook mr-1"></i>facebook</a></li>
                            <li class="mb-2 twitter"><a href="#"><i class="fab fa-twitter mr-1"></i>twitter</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 team-gd text-center" data-aos="fade-right">
                    <div class="team-img mb-4">
                        <img src="~/images/team11.jpeg" class="img-fluid img-circle" alt="user-image">
                    </div>
                    <div class="team-info">
                        <h3 class="mt-md-4 mt-3"><span class="sub-tittle-team">Designer</span> Sohail Ahmad</h3>
                        <p>i m student of information technology at university of malakand (dir lower)</p>
                        <ul class="social_section_1info mt-md-4 mt-3">
                            <li class="mb-2 facebook"><a href="#"><i class="fab fa-facebook mr-1"></i>facebook</a></li>
                            <li class="mb-2 twitter"><a href="#"><i class="fab fa-twitter mr-1"></i>twitter</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 team-gd text-center" data-aos="fade-right">
                    <div class="team-img mb-4">
                        <img src="~/images/team11.jpeg" class="img-fluid img-circle" alt="user-image">
                    </div>
                    <div class="team-info">
                        <h3 class="mt-md-4 mt-3"><span class="sub-tittle-team">Designer</span> Sohail Ahmad</h3>
                        <p>i m student of information technology at university of malakand (dir lower)</p>
                        <ul class="social_section_1info mt-md-4 mt-3">
                            <li class="mb-2 facebook"><a href="#"><i class="fab fa-facebook mr-1"></i>facebook</a></li>
                            <li class="mb-2 twitter"><a href="#"><i class="fab fa-twitter mr-1"></i>twitter</a></li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
<!--//team -->
