
@{
    ViewBag.Title = "mainfile";
    Layout = "~/Views/Shared/_DashboradLayout.cshtml";
}

<div id="actioncontainer">

</div>
<div id="tablcontainer">

    @{
        Html.RenderAction("index");
    }
    <hr />

</div>


