
@{
    //ViewBag.Title = "Team";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    @*<link href="~/Content/css/contact.css" rel="stylesheet" />*@
    @*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
    <style>
        .gallery .gallery-item {
            overflow: hidden;
            border-right: 3px solid white;
            border-bottom: 3px solid white;
                margin-right: -30px;
               
                
            /*#454035;
                
            */
        }


            .gallery .gallery-item img {
                width:350px;
                transition: all ease-in-out 0.4s;
            }

            .gallery .gallery-item:hover img {
                transform: scale(1.1);
            }

    </style>
</head>

<!--//team -->
<!-- ======= Gallery Section ======= -->
<div class="container">
    <section id="gallery" class="gallery">

        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2 style="text-align:center; margin-top:35px;">Gallery</h2>
                <hr />
                <p style="text-align:center;">Some photos from Our department</p>
            </div>
        </div>
    <br />
    <br />
    <br />
    <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

        <div class="row no-gutters">

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="assets/img/gallery/gallery-1.jpg" class="venobox" data-gall="gallery-item">

                        <img src="~/assets/img/119706403_744759486077304_6882777182055782502_n.jpg" alt="" class="img-fluid">
                    </a>
                </div>



            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="assets/img/gallery/gallery-2.jpg" class="venobox" data-gall="gallery-item">
                        <img src="~/images/tma10G.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>


            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="assets/img/gallery/gallery-3.jpg" class="venobox" data-gall="gallery-item">
                        <img src="~/images/tma12G.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="assets/img/gallery/gallery-4.jpg" class="venobox" data-gall="gallery-item">
                        <img src="~/images/tma13G.jpg" alt="" class="img-fluid">
                    </a>
                </div>

            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="~/images/gallery-5.jpg" class="venobox" data-gall="gallery-item">
                        <img src="~/images/tma11G.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="~/images/gallery-6.jpg" class="venobox" data-gall="gallery-item">
                        <img src="~/images/tma14G.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>


            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="~/images/gallery-7.jpg" class="venobox" data-gall="gallery-item">
                        <img src="~/images/tma15G.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>


            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="~/images/gallery-8.jpg" class="venobox" data-gall="gallery-item">
                        <img src="~/images/tma16G.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>


            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="~/images/tma1G.jpg" class="venobox" data-gall="gallery-item">
                        <img src="~/images/tma5G.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="~/images/gallery-7.jpg" class="venobox" data-gall="gallery-item">
                        <img src="~/images/tma2G.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="~/images/gallery-8.jpg" class="venobox" data-gall="gallery-item">
                        <img src="~/images/tma3G.jpg" alt="" class="img-fluid">
                    </a>
                </div>

            </div>
            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="~/images/gallery-8.jpg" class="venobox" data-gall="gallery-item">
                        <img src="~/images/tma4G.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

        </div>
       

    </div>
    </section><!-- End Gallery Section -->
</div>