
@{
    ViewBag.Title = "toindex";
    Layout = "~/Views/Shared/_DashboradLayout.cshtml";
}
<div class="container">
    <div id="actioncontainer">

    </div>
</div>
<div id="tablcontainer">

    @{
        Html.RenderAction("index");
    }
    <hr />

</div>
