
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboradLayout.cshtml";
}

<br />
<br />
<br />

<div class="container" style="margin-left:180px;">
    <div class="jumbotron">
        <h1>Hi Admin</h1>
        <p>wellcom to the Dashboard . Here you can change the funtionality of the site and you can add and remove the uses and role</p>
    </div>
    
</div>
