
@{
    ViewBag.Title = "mainIndex";
    Layout = "~/Views/Shared/_DashboradLayout.cshtml";
}



<div id="tablcontainer">

    @{
        Html.RenderAction("index");
    }
    <hr />

</div>


<div id="actioncontainer">

</div>