@model WebAppTMA.Models.Rolee

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_DashboradLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbl_Role</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RoleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RoleId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
